<!DOCTYPE html>
<html>
    <head>
        <title>AOE2</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>

        <!-- Begin Bootstrap Navbar -->

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">AOE2 Sweat Buddy</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item <%= 'active' if current_page?(root_path) %>">
                        <%= link_to "Home", root_path, class:"nav-link" %>
                    </li>
                    <li class="nav-item <%= 'active' if current_page?(build_orders_path) %>">
                        <%= link_to "Build Orders", build_orders_path, class:"nav-link" %>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Unit Production Calculator</a>
                    </li>
                </ul>
            </div>
        </nav>

        <%= yield %>
    </body>
</html>
